@import "bootstrap.less";

.alert {
  position: relative;
  width: 100%;
  font-size: 18px;
  border-top: none;
  z-index: 9999;

  .close {
    font-size: 24px;
  }
}

.custom-bullets(@color;) {
  list-style: none;
  padding-left: @line-height-computed * 2.5;

  li {
    position: relative;
  }

  li:before {
    content: "✩";
    position: absolute;
    top: -8px;
    margin-left: -(@line-height-computed * 1.8);
    font-size: 150%;
    color: @color;
  }
}

.custom-bullets-yellow {
  .custom-bullets(@btn-warning-bg;)
}

.custom-bullets-green {
  .custom-bullets(@btn-success-bg;)
}

.custom-bullets-red {
  .custom-bullets(@brand-danger;)
}

/* Images */

.k-top {
  position: absolute;
  top: 0;
  right: 150px;
  width: 613px;
  height: 817px;
  background: url('../img/k-top.jpg') 0 0 no-repeat;
}

.k-bottom {
  position: absolute;
  top: 0;
  right: 120px;
  width: 613px;
  height: 817px;
  background: url('../img/k-bottom.jpg') 0 0 no-repeat;
}

.k-line {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 250px solid #fff;
  border-left: 100vw solid transparent;
  bottom: 0;
  z-index: 9999;
}

.logo {
  width: 175px;
  height: 54px;
  background: url('../img/logo.svg') 0 0 no-repeat;
}

.results {
  width: 456px;
  height: 269px;
  position: absolute;
  top: 70px;
  background: url('../img/results.svg') 0 0 no-repeat;
}


/* Specific styles */

header {
  background: #eee;
  padding: 20px 0;

  .tel {
    margin-top: 10px;
  }

  .title {
    font-size: @font-size-h3;
    font-weight: bold;
    text-transform: uppercase;
  }

  .price {
    font-size: @font-size-h3;
    font-weight: bold;
  }

  .days {

  }

  .btn {
    margin-top: 8px;
  }

}

.intro {
  position: relative;
  overflow: hidden;

  .agenda {
    font-size: 24px;

    li {
      margin-bottom: 20px;
    }

    .custom-bullets-green;
  }

  padding-bottom: 50px;

}

.features {
  background: #eee;
  padding-bottom: 30px;
  position: relative;

  .who {
    .custom-bullets-red;
  }
}

.feedback {
  .youtube {
    //margin: 30px auto;
  }
  padding-bottom: 30px;
}

.about {
  background: #eee;
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;

  .title {
    text-transform: uppercase;
    font-size: @font-size-h2 * 1.5;
    font-weight: bold;
  }

  .personal {
    color: #fff;
    background: #252525;
    padding: 12px 20px;
    margin-top: 50px;
    position: relative;
    z-index: 9999;
  }
}

.request {
  position: relative;
  top: -50px;
  padding-bottom: 50px;
  z-index: 9999;

  .calendar {
    margin-top: 30px;
  }

  .error {
    color: red;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 20px 0;
    text-transform: inherit;
  }

}

footer {
  padding: 30px 0;
  font-size: @font-size-large;
  text-transform: uppercase;
  color: @gray-light;
}


@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
  .k-top {
    right: -50px;
  }

  .k-bottom {
    right: -100px;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .k-top {
    right: -220px;
  }

  .k-bottom {
    right: -200px;
  }
}

@media (max-width: @screen-sm-max) {
  .results {
    position: relative;
    top: -40px;
  }

  .about {
    padding-bottom: 80px;
  }
}

@media (max-width: @screen-xs-max) {
  header {
    padding-top: 10px;
  }

  .logo {
    margin-bottom: 10px;
    zoom: 0.8;
  }

  .about {
    padding-bottom: 30px;

    .personal {
      margin-top: 20px;
    }
  }

  .request {
    top: 0;
  }

}

/*@media (max-width: @screen-phone) {

  .request {
    .form-group {
      margin-bottom: 20px;
    }
  }
}*/




